<div class="footer-container">
    <div class="column">
        <div class="logo">Ostopathe-Draveil</div>
        <div class="text">Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny
            pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.</div>
    </div>
    <!--  -->
    <div class="column">
        <div class="heading">CONTACT INFO</div>
        <div class="contact-item"><i class="fal fa-mobile-android"></i>{{site.data.company.phone}}</div>
        <div class="contact-item"><i class="fal fa-map-marker-alt"></i>{{site.data.company.address}}</div>
        <div class="contact-item"><i class="fal fa-alarm-clock"></i>Mon - Sat 8.00 - 18.00 Sunday CLOSED</div>
        <div class="socials-container">
            <a href="" target="_blank"><i class="fa fa-facebook-f"></i></a>
            <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="" target="_blank"><i class="fa fa-flickr"></i></a>
            <a href="" target="_blank"><i class="fa fa-pinterest"></i></a>
            <a href="" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
    </div>

    <div class="column newsletter">
        <div class="heading">NEWSLETTER</div>
        <div class="text">Don't Miss A Thing</div>
        <div class="text">Sign up to receive daily news</div>
        <input type="text" placeholder="Your Email Address">
        <div class="newsletter-btn">SUBSCRIBE</div>
    </div>
</div>
<div class="copyright">
    <span>&copy; Copyright Bhinternet</span>
</div>