<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="icon" href="./assets/img/favicon.png" type="image/x-icon" />
    <script src="./assets/js/fontawesome.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include head-seo.html %}
</head>