{% comment %}
Lien actuel avec class="active"
Nous nous pouvons pas utiliser {% link %} dans le "if". Donc il faut écrire le lien manuellement.
{% endcomment %}

<div class="navbar-container">
    <a href="{% link accueil.html %}" class="logo">Ostopathe-Draveil</a>
    <div class="links-container">
        <a class="nav-item" href="{% link accueil.html %}">Accueil</a>
        <a class="nav-item" href="{% link notre-cabinet.html %}">Notre Cabinet</a>
        <a class="nav-item" href="{% link service.html %}">Notre Services</a>
        <a class="nav-item" href="{% link contact.html %}">Contact</a>
    </div>
    <div class="right-side">
        <a class="button" href="{% link devis.html %}">PRENDRE RDV</a>
        <i class="fa fa-bars"></i>
    </div>
</div>